.row
  .span12
    .photo
      %img{:alt => profile.name, :src => profile.avatar, :style => "max-width: 140px; float:right; display: inline; margin:5px"}/
    .text
      .name
        %a{:href => profile_path(profile)}
          %h3= profile.name
      %p= profile.biography.html_safe
      - if profile.twitter
        %i
          %a{:href => "http://twitter.com/#{profile.twitter}"} @#{profile.twitter}
      - if profile.facebook
        %i
          %a{:href => profile.facebook} Facebook Name here
      - if profile.linkedin
        %i
          %a{:href => profile.linkedin} Linkedin Name here
