= render :partial => "profile", :object => @profile

.row
  .span8
    %h2 
      by #{@profile.name}
    = render :partial => "posts/articles_stream"
  .span4
    = render :partial => "posts/sidebar_posts"
