.row{:style => "margin-top: 40px"}
  = render :partial => "posts/article_thumb_small", :collection => @first_three
.row
  .span8
    = render :partial => "posts/articles_stream"
  .span4
    = render :partial => "posts/sidebar_posts"
