- post = article_related_post
.span2
  = link_to post_path(post) do
    = image_tag post.image, :style => "height: 85px; width: 100%; border: 2px solid #dcdcd1; box-sizing: border-box"
    %h4= post.title
