<<<<<<< HEAD
.entry-tags
  %span>
    %b Keywords:
  %a{:href => "#", :rel => "tag"} Facebook Messenger
=======
%li= link_to article_tag.name, tag_path(article_tag)
>>>>>>> 51ab3936db933f8f2db73b44573768e1358c1cf9
