%ul.article-stream{:style => 'list-style-type: none; margin: 0px'}
  = render :partial => "posts/normal_thread", :collection => @posts
= will_paginate(@posts, :class => 'pagination pagination-centered', :renderer => PostsHelper::BootstrapLinkRenderer)
