- post = top_article
.row
  .span12.top-articles
    #myCarousel.carousel.slide
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      / Carousel items
      .carousel-inner
        .active.item
          %img.img-polaroid{:src => post.top_article_image, :style => "width:100%;height: 500px; box-sizing:border-box"}/
          %a{:href => post_path(post)}
            .title
              / .img-time-text= distance_of_time_in_words_to_now post.created_at
              .img-title-text
                %h2
                  = post.title
        .item
          %img.img-polaroid{:src => post.top_article_image, :style => "width:100%;height: 500px; box-sizing:border-box"}/
          %a{:href => post_path(post)}
            .title
              / .img-time-text= distance_of_time_in_words_to_now post.created_at
              .img-title-text
                %h2
                  = post.title
        .item
          %img.img-polaroid{:src => post.top_article_image, :style => "width:100%;height: 500px; box-sizing:border-box"}/
          %a{:href => post_path(post)}
            .title
              / .img-time-text= distance_of_time_in_words_to_now post.created_at
              .img-title-text
                %h2
                  = post.title
      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
