.item
  %a{:href => post_path(post)}
    %img.img-polaroid{:src => post.top_article_image, :style => "width:100%;height: 500px; box-sizing:border-box"}/
    .title
      / .img-time-text= distance_of_time_in_words_to_now post.created_at
      .img-title-text
        %h2
          = post.title
