.row
  .span8
    = render :partial => "posts/article_content", :object => @post
    %fb:comments{:href => request_url, :num_posts => "2", :width => "620"}
  .span4
    = render :partial => "posts/sidebar_posts"
