// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fields {
	margin: 0;
	padding: 0;
	outline: none;

	.field input{
		font-family: Arial, Helvetica, sans-serif;
		background: none repeat scroll 0 0 #fff;
		border: 1px solid #bbb;
		font-size: 12px;
		padding: 7px 3px;
		width: 255px;
		color: #444;
		margin: 0;
	}
	.field textarea{
		font-family: Arial, Helvetica, sans-serif;
		background: none repeat scroll 0 0 #fff;
		border: 1px solid #bbb;
		font-size: 12px;
		padding: 7px 3px;
		width: 405px;
		color: #444;
		margin: 0;
		height: 200px;
		max-width: 100%;
	}


}
.actions input{
	font-family: Arial, Helvetica, sans-serif;
	background: none repeat scroll 0 0 #f6612c;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	height: 30px;
	margin: 0;
	padding: 0;
	width: 81px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	height: 31px;
}
.h13p{
	font-size: 13px;
	font-weight: bold;
}
