- category = category_button
- has_child = category.child_categories.length > 0
%li.TopNav{:channelid => "1006", :filled => "false"}
  %a.navitem.0{:href => category_path(category)}
    = category.name
  - if has_child
    .navC.maindd
      .topics
        - category.child_categories.each do |c|
          %a.cat{:href => category_path(c)}= c.name
        / dropdown menu links
