- category = category_button
- has_child = category.child_categories.length > 0
%li{:class => has_child ? 'dropdown' : ''}
  %a.dropdown-toggle{:href => category_path(category)}
    = category.name
    %span{:class => has_child ? 'caret' : '' }
  - if has_child
    %ul.dropdown-menu
      - category.child_categories.each do |c|
        %li
          %a{:href => category_path(c)}= c.name
      / dropdown menu links
