.headerH
  .snavH
    .snav
      .nsocial
        %a.nfb{:href => "#", :target => "_blank"}
          %span Follow Us on Facebook
        %a.ntwitter{:href => "#", :target => "_blank"}
          %span Follow Us on Twitter
        %a.nin{:href => "#", :target => "_blank"}
          %span Follow Us on LinkedIn
        %a.ngoogle{:href => "#", :target => "_blank"}
          %span Subscribe to Young Entrepreneur
  .navH
    .nav
      %a.Nlogo{:href => root_path} 
        %span.ns
      .frt{:style => "margin:13px 0 0 0;"}
        = form_tag posts_path, :method => :get do
          .nsearch
            %input#searchSubmit.nsbutton{:name => "sa", :type => "submit", :value => "Search"}/
            %input.nsinput{:name => "query", :type => "text",  :placeholder => "Search..."}/
      %ul
        = render :partial => 'categories/category_button', :collection => @main_categories